# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
ENV/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTorch model weights
*.pt
*.pth

# Matplotlib and other output images
*.png
*.jpg
*.jpeg

# Logs
*.log

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# CIFAR dataset archive (explicit)
data/cifar-10-python.tar.gz

# Ignore all tar.gz files (catch-all)
*.tar.gz

# MNIST raw data
data/MNIST/raw/

# Dataset-related temporary or raw files
*.zip
*.npz
*.csv
*.tsv